# Python temporary files
__pycache__/
*.py[cod]
*.py

# Distribution / Build folders
build/
dist/
@backups/

# Editor-specific settings
.vscode/
.idea/

# Local system files
Thumbs.db
.DS_Store
*.exe

!WLEDCC.py
!NewBuilder.bat
!version.txt
!WLEDCC.spec
!WLEDCC_setup.iss
!wledccicon.ico